



<div class="col-md-12">
    <div class="follow letter text_align_left">
        <h3>Mail Bültenine Abone Olun</h3>
        <form action="/Newsletter/SubscribeMail" class="form_subscri" method="post">
            <input class="newsl" type="text" placeholder="Email Adresi" name="Mail">
            <button href="/Index/Register/" class="subsci_btn">Abone Ol</button>
        </form>
    </div>
</div>

